<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="465" />
		 <property name="protocol" value="smtps" />
		<property name="username" value="jgcil2007@gmail.com" />
		<property name="password" value="jgcil9050" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.debug">false</prop>
        	</props>
		</property>
	</bean>
	
	<bean id="mail" class="org.trams.junggu.common.mail.Mail">
		<property name="mailSender" ref="mailSender" />
		<property name="simpleMailMessage" ref="customeMailMessage" />
	</bean>
		
	<bean id="customeMailMessage"
		class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="jgcil2007@gmail.com" />
		<property name="subject" value="[누비Go] 신고내용" />
		<property name="text">
		<value>
			<![CDATA[
업체명 : %s
휴대폰번호 : %s
신고내용 : %s
			]]>
		</value>
	</property>
	</bean>


</beans>